

div#myDiv {
    background: #ffffff;
}

.primary-bg{
    opacity: 0;
}

#loader {
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    top: 33%;
    z-index: 1001;
    height: 150px;
   // margin: -75px 0 0 -75px;
    background-repeat: no-repeat;
    background-image: url("/LANDBANK ICON-8.png");
    /* width: 120px; */
    /* background-attachment: fixed; */
    background-position: center;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(0deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 5s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from {  opacity:0 }
  to { opacity:1 }
}

@keyframes animatebottom {
  from{ opacity:0 }
  to{  opacity:1 }
}


