@media (min-width: 576px) {
    
.path-node div#block-bootstrap-barrio-subtheme-page-title h1, .path-webform div#block-bootstrap-barrio-subtheme-page-title h1, .path-procurement div#block-bootstrap-barrio-subtheme-page-title h1, .page-user-login div#block-bootstrap-barrio-subtheme-page-title h1, .path-search div#block-bootstrap-barrio-subtheme-page-title h1, .node--type-page div#block-bootstrap-barrio-subtheme-page-title h1, .path-admin div#block-bootstrap-barrio-subtheme-page-title h1, .path-events div#block-bootstrap-barrio-subtheme-page-title h1, .path-user div#block-bootstrap-barrio-subtheme-page-title h1, .path-events div#block-bootstrap-barrio-subtheme-page-title h1 {
    font-size: 30px;
}
    
    .block-views-blockquick-links-block-1 h2 {
        overflow: hidden;
    }
    
    .page-node-48{
.g-recaptcha {
    margin-bottom: 16px ;
}
}
    
    .slide-tit {
        display: inline-block;
        float: left;
        line-height: 44px;
        font-weight: 300;
        width: 100%;
    }

    a.fb-link{
        float: right;
        margin: 11px 22px;
    }
    
    a.fb-link.nav-link {
    position: absolute;
    right: 0;
    width: 50px;
}

    #loader:after {
    content: "LANDBANK Countryside Development Foundation, Inc.";
    position: absolute;
    width: 100%;
    bottom: -17px;
    color: #7ec138;
    font-weight: 700;
    text-align: center;
    margin: auto;
}

    
    .quick-links:after {
    top: 213px;
}
    
.container .row {
    padding: 0px 3%;
}
  
    .block-search-form-block #edit-keys {
    background-color: #d09a2d00;
    height: 29px;
    border-radius: 0px;
    width: 232px;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding-right: 34px;
}

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    
.slide-tit {
    font-size: 48px;
}
    
.slide-body {
    font-size: 24px;
}
    
.field--name-field-event-images .field__item {
    display: inline;
}
    
.field--name-field-event-images .field__item a img {
    
 border: 1px solid rgb(154, 154, 154);
    margin: 8px 5px;
    width: 30%;
}
    
.official div {
    width: 51%;
}

    
    .slide-txt {
    width: min-content !important;
}

    .webform-submission-contact-add-form {
    width: 100%;
    margin: auto;
}

    .quick-links:after {
    top:33px;
}
    
      .slide-txt {
        background-color: rgba(1, 8, 17, 0.6);
        position: absolute;
        z-index: 1;
        bottom: 18px;
        padding: 2% 2% 2% 2%;
        color: white;
        text-align: left;
        min-width: 46%;
        height: auto;
        width: 45%;
        right: 0;
        
      }
    

    p#block-bootstrap-barrio-subtheme-branding {
        font-size: 24px;
}

}

@media (min-width: 992px) {
    
    
    .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.7rem;
    padding-left: .7rem;
}
    
    .dropdown-menu {
//  display: block;
  opacity: 0;
  visibility: hidden;

  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  background-color: #7ec138 !important;
}
    
    .dropdown-menu {
  display: block;
    }

        .menu--main {
    width: 80% !important;
}
  
main#content {
    padding: 0;
}

}

@media (min-width: 1200px) {
    
    div#block-views-block-logo-block-1 {
        padding: 42px 4% !important;
    }
        
    div#block-views-block-logo-block-1 {
        display: flex;
    }
    
        p#block-bootstrap-barrio-subtheme-branding {
    margin-left: 21px !important;
}

    .page-node-48 .block-system-main-block .field--type-text-with-summary {
    width: 50%;
    float: right;
    padding: 17px 37px;
    text-align: center;
    line-height: 1.1;
    position: relative;
    z-index: 1;
}
    
.col-sm-4.events.views-row {
    margin: 0px;
    padding: 0px 0px;
}
    
    section.section {
        margin-left: 70px;
}
    
    nav#navbar-main {
    height: 43px;
}
    
    section.row.region.region-secondary-menu {
    margin: auto;
    min-width: 1169px;
}
    
    .slide-txt {
    background-color: rgba(1, 8, 17, 0.6);
    position: absolute;
    z-index: 1;
    bottom: 145px;
    padding: 2% 2% 2% 2%;
    color: white;
    text-align: left;
    min-width: 45%;
    height: auto;
    width: 0;
    right: 0;
}
    
 

  a.navbar-brand {
      height: 75px;
      display: flex;
  }
  
      .field__items {
    width: 100%;
}

 }
 
 @media (min-width: 1024px){
.container .row {
       padding: 0px;
}

     
 }
 
 @media (max-width: 639px) {
        
    .tablesaw-stack tbody tr td {
        width: 100% !important;
        border: 0.1px solid rgb(210, 210, 210);
    }
    
    .tablesaw-stack tbody tr {
        display: inline-block;
    }
    
    tr {
        padding: 0;
    }

}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) { 
    
h3 {
    font-size: 18px;
}
    
.path-node div#block-bootstrap-barrio-subtheme-page-title h1, .path-webform div#block-bootstrap-barrio-subtheme-page-title h1, .path-procurement div#block-bootstrap-barrio-subtheme-page-title h1, .page-user-login div#block-bootstrap-barrio-subtheme-page-title h1, .path-search div#block-bootstrap-barrio-subtheme-page-title h1, .node--type-page div#block-bootstrap-barrio-subtheme-page-title h1, .path-admin div#block-bootstrap-barrio-subtheme-page-title h1, .path-events div#block-bootstrap-barrio-subtheme-page-title h1, .path-user div#block-bootstrap-barrio-subtheme-page-title h1, .path-events div#block-bootstrap-barrio-subtheme-page-title h1 {
    font-size: 20px;
}

    .page-node-48{

.g-recaptcha {
    margin-bottom: -1px ;
}

}
    
    .g-recaptcha {
    transform: scale(0.79);
    transform-origin: 0 0;
}
    
    nav#navbar-top {
    padding: 4px 0;
}
    
    a.fb-link{
     margin: 15px 5%;
    }
    
    a.fb-link.nav-link {
    position: unset;
    right: 0;
    width: 50px;
}
    
    #loader:after {
    content: "LANDBANK Countryside Development Foundation, Inc.";
    position: absolute;
    width: 100%;
    bottom: -30px;
    color: #7ec138;
    font-weight: 700;
    text-align: center;
    padding: 0px 4px;
    margin: auto;
}
    
    .slide-tit {
    display: inline-block;
     float: unset;
    line-height: 19px;
    font-size: 26px;
    font-weight: 300;
    width: max-content;
}
    
    .quick-links:after {
    top: 44%;
}
    
.container .row {
    padding: 0px 8%;
}

.view-id-logo .row .views-row {
    padding: 10px;
}

.view-id-logo .row {
    margin: 0% 18%;
    position: relative;
}
  
    
    p#block-bootstrap-barrio-subtheme-branding {
    font-size: 11px;
    margin-top: 11px;
    
}
  
    .block-search-form-block #edit-keys {
    width: 207px;
}
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) { 

.slide-tit {
    font-size: 25px;
}
    
.slide-body {
    font-size: 18px;
}
    
.field--name-field-event-images .field__item {
    border: 1px solid rgb(154, 154, 154);
    margin: 15px 0px;
}
    
    p.slide-tit {
    line-height: 36px;
    width: 100%;
    margin: 0;
}
    
  .page-node-48 .field--type-text-with-summary {
    width: unset;
    float: unset;
    padding: unset;
    text-align: center;
}
    
    .path-frontpage section.section {
    margin-left: 0px !important;
}
    
.slide-txt {
    background-color: #efefef;
    position: unset;
    z-index: 1;
    bottom: 18px;
    padding: 1% 5% 3% 5%;
    color: #2d2d2d;
    text-align: left;
    min-width: 46%;
    height: auto;
    width: 100%;
    right: 0;
}
    
    nav#navbar-top {
    display: block;
}

}

@media (max-width: 991px) {
    
    ul.dropdown-menu.show {
    text-align: center;
}
    
    .dropdown-effect {

        text-align: center;
    }
    
    ul.dropdown-menu.show {

}
    
    .page-node-48 .container .row {
}
    
    .bor-bot a {
    font-size: 13px !important;
}
    
    .menu--main {
    width: 100% !important;
}

    nav#block-bootstrap-barrio-subtheme-main-menu {
    text-align: center;
}
    
    .path-frontpage img.image-style-quick-links-logo {
    margin-right: 12px;
}
    
    .path-frontpage .bor-bot {
    padding: 16px 8px 26px 0px;

}
    
 
    #navbar-main {
    height: auto;
}
form#search-block-form{
        display: -webkit-inline-box;
}
header #search-block-form {
    padding: 12px 15px 15px 15px !important;
    
}
    
}

@media (max-width: 1024px) {
    form#search-block-form {
        padding: 12px 32px 6px 8px;
    }
}

@media (min-width: 1199px) {
    

 
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {
    
div#block-views-block-logo-block-1 {
    padding: 0px 0px 4% !important;
}
    
.page-node-48 .field--type-text-with-summary {
    text-align: center;
    line-height: 20px;
    margin-bottom: 40px;
}

    .layout-main-wrapper {
}
    
.view-logo div.view-content.row .views-row {
    width: fit-content !important;
    margin: auto;
}
   
    
    section.row.region.region-secondary-menu{
        margin: 0;
    }
    
  .dialog-off-canvas-main-canvas {
    overflow: hidden;
}

    .path-frontpage section.section {
    margin-left: 52px;
}
    
    header #search-block-form {
    padding: 16px 15px;
}
    

    
    .navbar-nav {
    width: 100%;
}
    
        section.row.region.region-header-form {
        position: unset;
}
    
    section.row.region.region-secondary-menu {
    margin: auto;
    min-width: 100%;
}
    
    a.navbar-brand {
    text-align: center;
    margin: auto;
}

}


@media (min-width: 640px) and (max-width: 991.98px) {
    .tablesaw-stack td, .tablesaw-stack th, .tablesaw-stack thead td, .tablesaw-stack thead th {
        display: block;
        width: 100% !important;
        border: 0.1px solid rgb(210, 210, 210);
    }
}

