{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - path_info.args: Array of URL arguments un aliassed.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'node--type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
   
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
        <style>body,input,textarea,select{color:#000;background:none}body.two-sidebars,body.sidebar-first,body.sidebar-second,#sidebar-fibrst,#sidebar-second,.navigation,#toolbar,.site-footer,.tabs,.shortcut-action{}.one-sidebar .main-content,.two-sidebars .main-content{width:100%}.featured-bottom{width:960px;margin:0;padding:0;border:0}.featured-bottom-first,.featured-bottom-second,.featured-bottom-third{width:250px}#comments .title,#comments form,.comment-forbidden{display:none}</style>
        
     </head>
     



  <body{{ attributes.addClass(body_classes) }}>
    <a href="#main-content" class="visually-hidden focusable skip-link">
      {{ 'Skip to main content'|t }}
    </a>

    <noscript  class="noscript">It seems like your javascript is disabled. Please see the <a href="https://www.enable-javascript.com/" rel="nofollow">instructions</a> here on how to enable it.</noscript>
     <div id="myDiv" class="animate-bottom">
    {{ page_top }}
     <div id="loader"></div>
        <div id="bg" class="primary-bg" >
                {{ page }}
                {{ page_bottom }}
        </div>
    </div>
          
<js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
  
    

</html>
