<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="utf-8">
    <title>Page Not Found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    	@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
			body {
				font-family: 'Lato', sans-serif;
				font-size: 16px;
				color: #555;
				background-color:#eee;
				margin: 0;
				padding: 0;
	    }
	    .wrapper {
	    	height: 100vh;
	    	display: flex;
	    	align-items: center;
	    }
			.container {
				max-width: 1200px;
				width: 100%;
				margin: 0 auto;
				text-align: center;
				padding: 0 15px;
				margin-top: -60px;
			}
			.txt-404 {
				font-size: 18em;
				margin: 0;
				line-height: 1;
				font-weight: bold;
				color: #C9C04B;
				text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
			}
			h1 {
				margin: 0;
				text-transform: uppercase;
			}
			h1:after {
				content: "";
				display: block;
				width: 45px;
				height: 3px;
				margin: auto;
				margin-top: 15px;
			  background-color: #C9C04B;
			}
			p {
				text-align: center;
				font-size: 20px;
			}
			a {
				text-decoration: none;
			  color: #555;
			  display: inline-block;
			  -webkit-border-radius: 5px;
			  border-radius: 5px;
			  padding: 10px 15px;
			  text-transform: uppercase;
			  color: #FFF;
			  border: 2px solid #A59C30;
			  background-color: #C9C04B;
			  -webkit-transition: all 0.3s ease;
			     -moz-transition: all 0.3s ease;
			      -ms-transition: all 0.3s ease;
			       -o-transition: all 0.3s ease;
			          transition: all 0.3s ease;
			}
			a:hover {
			  background-color: #A59C30;
			}

			/* Media Queries */
			@media (max-width: 568px) {
				.container {
					margin-top: -20px;
				}
				.txt-404 {
					font-size: 9em;
				}
				h1 {
					font-size: 22px;
				}
				p {
					font-size: 16px;
				}
				a {
					font-size: 14px;
					padding: 7px 13px;
				}
			}
    </style>
  </head>

  <body>
  	<div class="wrapper">
	    <div class="main container">
	    	<div class="txt-404">404</div>
	      <h1>Page not found!</h1>
	      <p>Sorry, the requested page could not be found.</p>
	      <a href="/">Go back to homepage</a>
	    </div>
    </div>
  </body>
</html>